<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area of a Triangle</title>
</head>
<body>
    <div class="works-bg-image">
        <h1>Provide base and height for the triangle</h1>
        <div class="works-container">
            <form action="/areaOftriangle" method="post">
                <label for="inputBase"> Base:</label>
                <input type="number" id="inputBase" name="inputBase">
                <label for="inputHeight"> Height:</label>
                <input type="number" id="inputHeight" name="inputHeight">
                <button id="convertButton">Compute</button>
            </form>
            <div class="result">
                {% if result %}
                <p>Area of the Triangle: {{ result }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
