<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area of a Circle</title>
</head>
<body>
    <div class="works-bg-image">
        <h1>Provide radius of the circle</h1>
        <div class = "works-container">
            <form action="/areaOfcircle" method="post">
                <label for="inputInteger"> Radius:</label>
                <input type="number" id="inputInteger" name="inputInteger">
                <button id="convertButton">Compute</button>
            </form>
            <div class="result">
                {% if result %}
                <p>Area of the Circle: {{ result }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>