<!DOCTYPE html>
<html>
<head>
    <title>Area of a Circle</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background: url("{{ url_for('static', filename='works-bg.png') }}");
            background-size: cover;
            color: #fff;
        }
    </style>
</head>
<body>
</head>
<body>
    <h1>Provide radius of the circle</h1>
    <form action="/areaOfcircle" method="post">
        <label for="inputInteger">Enter a value:</label>
        <input type="number" id="inputInteger" name="inputInteger">
        <input type="submit" value="Compute">
    </form>

    {% if result %}
    <p>Area of the Circle: {{ result }}</p>
    {% endif %}
</body>
</html>