<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <div class="contact-bg-image">
        <div class="contactinfo">
            <h1>Contacts</h1>
            <hr>
            <h4><bold>Email</bold></h4>
            <p>hallo@deniebon.com</p>
        </div>
        <div class="contactainer">
            <h3>Get in Touch</h3>
            <p>I'd love to here from you!</p>
            <form>
                <input type="text" id="name" name="name" placeholder="Your Name" required>
                <input type="email" id="email" name="email" placeholder="Your Email" required>
                <textarea id="message" name="message" placeholder="Your Message" rows="4" required></textarea>
                <input type="submit" value="Send Message">
            </form>
        </div>
    </div>
</body>
</html>
