<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <div class="profile-bg-image">
        <h1>Profile</h1>
        <hr>
        <div class="profile-container">
            <img src="{{ url_for('static', filename='assets/profile-pic.jpg')}}" alt="Display Profile" class="profile-image">
            <div class="profile-description">
                <h2>Who is Denie Rose Bon?</h2>
                <p>
                    Denie Rose Bon is a sophomore in Computer Engineering, Section 4, is dedicated to mastering Data Structures and Algorithms to engineer transformative innovations.  With an unwavering devotion to immersing oneself in the world of a novice, Denie firmly believes in the saying that "Possibilities are limitless." 🌟
                </p>
            </div>
        </div>
    </div>
</body>
</html>
