<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background: url("{{ url_for('static', filename='works-bg.png') }}");
            background-size: cover;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Lowercase Converter</h1>s
    <form action="/convertLowerCase" method="post">
        <label for="inputString">Enter a string:</label>
        <input type="text" id="inputString" name="inputString">
        <input type="submit" value="Convert">
    </form>

    {% if result %}
    <p>Converted string: {{ result }}</p>
    {% endif %}
</body>
</html>
