<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lowercase Converter</title>
</head>
<body>
    <div class = "works-bg-image">
        <h1>Lowercase Converter</h1>
        <div class = "works-container">
            <form action="/convertLowerCase" method="post">
                <label for="inputString"> Enter a string:</label>
                <input type="text" id="inputString" name="inputString">
                <button id="convertButton">Convert</button>
            </form>
            
            <div class="result">
                {% if result %}
                <p> Converted string: {{ result }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
